In [1]:
import os
import glob
import pandas as pd
import polars as pl

from dotenv import load_dotenv

In [2]:
load_dotenv(r"C:\Users\by003457\workspace\perfectdays\.env")

True

In [3]:
CAPIQ_DATA_DIR = os.environ["CAPIQ_DATA_DIR"]
CAPIQ_DATA_DIR

'L:\\DRS\\Projects\\2025_drs_ai\\capiq'

In [4]:
# compinfo_file = os.path.join(CAPIQ_DATA_DIR, "comp_naics_code_all.parquet")
compprice_file = os.path.join(CAPIQ_DATA_DIR, "capiq_price_equity_kr.parquet")
compmarketcap_file = os.path.join(CAPIQ_DATA_DIR, "capiq_marketcap_kr.parquet")
compinfo_file = os.path.join(CAPIQ_DATA_DIR, "comp_naics_code_common_stock_kr.parquet")

In [5]:
df_compinfo = pl.read_parquet(compinfo_file)
df_compprice = pl.read_parquet(compprice_file)
df_mktcap = pl.read_parquet(compmarketcap_file)

In [6]:
df_mktcap.head(2)

shape: (2, 5)
┌───────────┬─────────────────────┬─────────────┬──────────────┬───────────────────┐
│ companyId ┆ pricingDate         ┆ marketCap   ┆ TEV          ┆ sharesOutstanding │
│ ---       ┆ ---                 ┆ ---         ┆ ---          ┆ ---               │
│ i64       ┆ datetime[ns]        ┆ f64         ┆ f64          ┆ i64               │
╞═══════════╪═════════════════════╪═════════════╪══════════════╪═══════════════════╡
│ 7672534   ┆ 2025-01-24 00:00:00 ┆ 141108.6096 ┆ 101429.02926 ┆ 13065612          │
│ 7672534   ┆ 2025-01-25 00:00:00 ┆ 141108.6096 ┆ 101429.02926 ┆ 13065612          │
└───────────┴─────────────────────┴─────────────┴──────────────┴───────────────────┘

In [7]:
df_compinfo.head(2)

shape: (2, 27)
┌────────────┬────────────┬───────────┬────────────┬───┬────────────┬─────────┬────────┬───────────┐
│ tradingIte ┆ securityId ┆ companyId ┆ exchangeNa ┆ … ┆ desc_4     ┆ level_5 ┆ code_5 ┆ desc_5    │
│ mId        ┆ ---        ┆ ---       ┆ me         ┆   ┆ ---        ┆ ---     ┆ ---    ┆ ---       │
│ ---        ┆ str        ┆ str       ┆ ---        ┆   ┆ str        ┆ f64     ┆ str    ┆ str       │
│ str        ┆            ┆           ┆ str        ┆   ┆            ┆         ┆        ┆           │
╞════════════╪════════════╪═══════════╪════════════╪═══╪════════════╪═════════╪════════╪═══════════╡
│ 1937019783 ┆ 1870961429 ┆ 26840462  ┆ KOSDAQ     ┆ … ┆ Rolling    ┆ 5.0     ┆ 331222 ┆ Steel     │
│            ┆            ┆           ┆            ┆   ┆ and        ┆         ┆        ┆ Wire      │
│            ┆            ┆           ┆            ┆   ┆ Drawing of ┆         ┆        ┆ Drawing   │
│            ┆            ┆           ┆            ┆   ┆ Purchas…   ┆         ┆        ┆           │
│ 1899874192 ┆ 270184252  ┆ 29513698  ┆ KOSDAQ     ┆ … ┆ Semiconduc ┆ 5.0     ┆ 334413 ┆ Semicondu │
│            ┆            ┆           ┆            ┆   ┆ tor and    ┆         ┆        ┆ ctor and  │
│            ┆            ┆           ┆            ┆   ┆ Other      ┆         ┆        ┆ Related   │
│            ┆            ┆           ┆            ┆   ┆ Electr…    ┆         ┆        ┆ Devi…     │
└────────────┴────────────┴───────────┴────────────┴───┴────────────┴─────────┴────────┴───────────┘

In [8]:
df_compprice.head(2)

shape: (2, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬──────────┬───────────┬───────────┐
│ tradingIt ┆ pricingDa ┆ priceOpen ┆ priceHigh ┆ … ┆ priceAsk  ┆ volume   ┆ adjustmen ┆ VWAP      │
│ emId      ┆ te        ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---      ┆ tFactor   ┆ ---       │
│ ---       ┆ ---       ┆ decimal[1 ┆ decimal[1 ┆   ┆ decimal[1 ┆ f64      ┆ ---       ┆ decimal[1 │
│ i64       ┆ datetime[ ┆ 3,6]      ┆ 3,6]      ┆   ┆ 3,6]      ┆          ┆ decimal[1 ┆ 3,6]      │
│           ┆ ns]       ┆           ┆           ┆   ┆           ┆          ┆ 2,10]     ┆           │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪══════════╪═══════════╪═══════════╡
│ 242176131 ┆ 2015-01-0 ┆ 13833.333 ┆ 13969.696 ┆ … ┆ 13636.363 ┆ 101512.0 ┆ 6.6000000 ┆ null      │
│           ┆ 2         ┆ 333       ┆ 968       ┆   ┆ 635       ┆          ┆ 000       ┆           │
│           ┆ 00:00:00  ┆           ┆           ┆   ┆           ┆          ┆           ┆           │
│ 242176131 ┆ 2015-01-0 ┆ 14863.636 ┆ 15681.818 ┆ … ┆ null      ┆ 820932.0 ┆ 6.6000000 ┆ null      │
│           ┆ 5         ┆ 363       ┆ 181       ┆   ┆           ┆          ┆ 000       ┆           │
│           ┆ 00:00:00  ┆           ┆           ┆   ┆           ┆          ┆           ┆           │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴──────────┴───────────┴───────────┘

In [9]:
rec = df_compinfo.filter(pl.col("companyName").str.contains("Samsung Electronics Co., Ltd."))
rec

shape: (1, 27)
┌─────────────┬────────────┬───────────┬─────────────┬───┬─────────────┬─────────┬────────┬────────┐
│ tradingItem ┆ securityId ┆ companyId ┆ exchangeNam ┆ … ┆ desc_4      ┆ level_5 ┆ code_5 ┆ desc_5 │
│ Id          ┆ ---        ┆ ---       ┆ e           ┆   ┆ ---         ┆ ---     ┆ ---    ┆ ---    │
│ ---         ┆ str        ┆ str       ┆ ---         ┆   ┆ str         ┆ f64     ┆ str    ┆ str    │
│ str         ┆            ┆           ┆ str         ┆   ┆             ┆         ┆        ┆        │
╞═════════════╪════════════╪═══════════╪═════════════╪═══╪═════════════╪═════════╪════════╪════════╡
│ 20242977    ┆ 20229558   ┆ 91868     ┆ Korea Stock ┆ … ┆ Semiconduct ┆ null    ┆ null   ┆ null   │
│             ┆            ┆           ┆ Exchange    ┆   ┆ or and      ┆         ┆        ┆        │
│             ┆            ┆           ┆             ┆   ┆ Other       ┆         ┆        ┆        │
│             ┆            ┆           ┆             ┆   ┆ Electr…     ┆         ┆        ┆        │
└─────────────┴────────────┴───────────┴─────────────┴───┴─────────────┴─────────┴────────┴────────┘

In [10]:
idtrading = rec['tradingItemId'][0]
idcomp = rec['companyId'][0]
compname = rec['companyName'][0]
print(f'idtrading: {idtrading}, idcomp: {idcomp}, compname: {compname}')

idtrading: 20242977, idcomp: 91868, compname: Samsung Electronics Co., Ltd.

In [15]:
prices = df_compprice.filter(pl.col("tradingItemId") == int(idtrading)).to_pandas()

In [16]:
prices.head(5)

,tradingItemId,pricingDate,priceOpen,priceHigh,priceLow,priceMid,priceClose,priceBid,priceAsk,volume,adjustmentFactor,VWAP
0,20242977,2015-01-02,26800.000000,26800.000000,26540.000000,26610.000000,26600.000000,26600.000000,26620.000000,7994600.0,50.0000000000,26645.092254
1,20242977,2015-01-05,26720.000000,26720.000000,26260.000000,26650.000000,26660.000000,26640.000000,26660.000000,10102650.0,50.0000000000,26562.311976
2,20242977,2015-01-06,26300.000000,26340.000000,25760.000000,25910.000000,25900.000000,25900.000000,25920.000000,15220750.0,50.0000000000,26028.466348
3,20242977,2015-01-07,25880.000000,26220.000000,25640.000000,26130.000000,26140.000000,26120.000000,26140.000000,14169800.0,50.0000000000,25981.274558
4,20242977,2015-01-08,26780.000000,26780.000000,26200.000000,26270.000000,26280.000000,26260.000000,26280.000000,12433950.0,50.0000000000,26390.567560

In [18]:
volumes = df_mktcap.filter(pl.col("companyId") == int(idcomp)).to_pandas()
volumes

      companyId pricingDate     marketCap           TEV  sharesOutstanding
0         91868  2015-01-02  1.943517e+08  1.470896e+08         7540819250
1         91868  2015-01-03  1.943517e+08  1.470896e+08         7540819250
2         91868  2015-01-04  1.943517e+08  1.470896e+08         7540819250
3         91868  2015-01-05  1.946453e+08  1.473832e+08         7540819250
4         91868  2015-01-06  1.895496e+08  1.422875e+08         7540819250
...         ...         ...           ...           ...                ...
3944      91868  2025-10-20  6.380184e+08  5.621878e+08         6686083126
3945      91868  2025-10-21  6.358682e+08  5.600376e+08         6686083126
3946      91868  2025-10-22  6.428182e+08  5.669876e+08         6686083126
3947      91868  2025-10-23  6.289393e+08  5.531087e+08         6686083126
3948      91868  2025-10-24  6.289393e+08  5.531087e+08         6686083126

[3949 rows x 5 columns]