In [7]:
import os
import pandas as pd

from pathlib import Path
from glob import glob
from dotenv import load_dotenv

In [10]:
res_dir = r'c:/Users/by003457/downloads'
rev_file = 'company_revenue_analysis_strategy01.xlsx'

In [25]:
res_dirs = [Path(x) for x in glob(os.path.join(res_dir, 'strategy01_*'))]
res_dirs

[WindowsPath('c:/Users/by003457/downloads/strategy01_aggressive'),
 WindowsPath('c:/Users/by003457/downloads/strategy01_conservative'),
 WindowsPath('c:/Users/by003457/downloads/strategy01_creative')]

In [26]:
res_df = []
for rd in res_dirs:
    file_path = rd / rev_file
    if file_path.exists():
        df = pd.read_excel(file_path)
        df['result_dir'] = str(rd.name)
        # reorder columns to have result_dir first
        cols = df.columns.tolist()
        cols = ['result_dir'] + [col for col in cols if col != 'result_dir']
        df = df[cols]
        res_df.append({'dir': rd.name, 'data': df})

In [27]:
res_df[0]['data'].head(2)

,result_dir,revenue,tickerSymbol,companyName,indu_desc,desc_1,desc_2,desc_3,desc_4,desc_5,p_neg20below,p_neg5to-20,p_neg5to5,p_5to20,p_above20,total_trades,p_above20_ratio
0,strategy01_aggressive,24063390,A000760,"Rifa Co.,Ltd.",Chemical Manufacturing,Manufacturing,Chemical Manufacturing,NaN,NaN,NaN,0,0,0,0,0,0,0
1,strategy01_aggressive,16400865,A004090,Korea Petroleum Industries Company,"Asphalt Paving, Roofing, and Saturated Materia...",Manufacturing,Petroleum and Coal Products Manufacturing,Petroleum and Coal Products Manufacturing,"Asphalt Paving, Roofing, and Saturated Materia...",NaN,0,0,0,0,0,0,0

In [28]:
# merge all dataframes into one
combined_df = pd.concat([item['data'] for item in res_df], ignore_index=True)
combined_df.head(2)

,result_dir,revenue,tickerSymbol,companyName,indu_desc,desc_1,desc_2,desc_3,desc_4,desc_5,p_neg20below,p_neg5to-20,p_neg5to5,p_5to20,p_above20,total_trades,p_above20_ratio
0,strategy01_aggressive,24063390,A000760,"Rifa Co.,Ltd.",Chemical Manufacturing,Manufacturing,Chemical Manufacturing,NaN,NaN,NaN,0,0,0,0,0,0,0.0
1,strategy01_aggressive,16400865,A004090,Korea Petroleum Industries Company,"Asphalt Paving, Roofing, and Saturated Materia...",Manufacturing,Petroleum and Coal Products Manufacturing,Petroleum and Coal Products Manufacturing,"Asphalt Paving, Roofing, and Saturated Materia...",NaN,0,0,0,0,0,0,0.0

In [29]:
combined_df.groupby('result_dir').aggregate({'revenue': 'sum', 'total_trades': 'sum'}).reset_index()

                result_dir    revenue  total_trades
0    strategy01_aggressive  461782669             0
1  strategy01_conservative    1305402          7649
2      strategy01_creative   96696067         74018

In [31]:
res_df[0]['data'].total_trades.sum()

np.int64(0)